* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    background-color: black;
    font-family: "Montserrat", sans-serif;
}

/* NavBar */

nav {
    background-color: black;
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 4rem;
}

.left-half {
    display: flex;
    align-items: center;
    color: white;
}

.logo {
    /* i ka use kiya logo mai too font ki sarri property use kar skte */
    font-size: 2.5rem;
    margin: 1rem;
}

.home-icon {
    font-size: 1.7rem;
    background-color: #1f1f1f;
    color: rgb(179, 179, 179);
    padding: 8px;
    border-radius: 50%;
    margin: 0 1rem;
    transition: 0.3s;
}

.home-icon:hover {
    color: white;
    transform: scale(1.05);
}

.search-bar {
    display: flex;
    height: 3rem;
    width: 30rem;
    border-radius: 20rem;
    background-color: #1f1f1f;
    align-items: center;

}

.search-bar:hover {
    background-color: #2c2c2c;
    border: 1px solid rgb(116, 116, 116);

}

.search-icon {
    font-size: 1.5rem;
    color: rgb(179, 179, 179);
    padding: 0 0.7rem;
}

.search-bar:hover .search-icon {
    color: white;
}

.input-box {
    width: 78%;
    height: 60%;
    background-color: #1f1f1f00;
    border: none;
    /*  vo right ka stick nlane ke liye */
    border-right: 1px solid rgb(179, 179, 179);
    /* jo enter karo ge  means search karo ge vo white hoga */
    color: white;
    font-size: 1.1rem;
    transition: 0.2s;

}

.browse {
    font-size: 1.3rem;
    margin-left: 0.6rem;
}

.browse:hover {
    transform: scale(1.2);
}

.right-half {
    display: flex;
    align-items: center;
    color: white;
    width: 48%;

}

.right-half-p1 {
    display: flex;
    /* gap: 1.3rem; */
    align-items: center;
    height: 1.7rem;
    margin: 0 1rem;
    padding: 0 1rem 0 0;
    border-right: 1px solid rgb(179, 179, 179);
}

.nav-text {
    font-weight: 600;
    transition: 0.1s;
    padding: 0 0.5rem;
    color: rgb(179, 179, 179);
}

.nav-text:hover {
    color: white;
    transform: scale(1.05);
    cursor: pointer;
}

.right-half-p2 {
    display: flex;
    align-items: center;
    width: 100%;
    height: auto;
    justify-content: space-between;
    gap: 2rem;



}

.Install {
    display: flex;
    align-items: center;
    width: auto;
}

.login-btn {
    height: 3rem;
    width: 7rem;
    margin-left: auto;
    margin-right: 1rem;
    border-radius: 15rem;
    border: none;
    background-color: white;
    font-size: 1rem;
    font-weight: 700;
    transition: 0.2s;


}

.login-btn:hover {
    transform: scale(1.05);
}

/* main-left-part */

.main {
    background-color: black;
    width: 98vw;
    height: 80vh;
    margin-top: 2vh;
    display: flex;
    justify-content: space-around;
    color: white;
}

.main-left-part {
    width: 27%;
    height: 100%;
    background-color: #121212;
    border-radius: 10px;
}


.library {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 1rem 1.5rem;
}

.library p {
    font-weight: 600;
}

.library div {
    font-size: 2rem;
    color: rgb(179, 179, 179);
    background-color: #2f2f2f;
    padding: 8px;
    height: 2rem;
    width: 2rem;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 30rem;
    transition: 0.2s;

}

.library div:hover {
    color: white;
    background-color: #3a3a3a;
}

.box-container {

    margin-top: 1rem;
    height: 100%;
}

.box {
    background-color: #1f1f1f;
    height: 22%;
    width: 98%;
    border-radius: 10px;
    margin: 1rem 0;


}

.box h4 {
    font-weight: 600;
    padding: 1.3rem 0 0.5rem 1rem;

}

.box p {
    font-size: 0.8rem;
    padding-left: 1rem;
}

.box button {
    background-color: white;
    color: black;
    font-weight: 600;
    padding: 0.6rem 0.8rem;
    margin: 1rem 0 0 1rem;
    border-radius: 25rem;
    /* border: none; */
    transition: 0.2s;
}

.box button:hover {
    transform: scale(1.05);
    background-color: rgb(227, 227, 227);
}

.main-right-part {
    width: 72%;
    height: 100%;
    background-color: #121212;
    border-radius: 10px;
    overflow: auto;

}

.music-card img {
    height: 10rem;
    width: 10rem;
    object-fit: cover;
    object-position: center;
    border-radius: 5px;
}

.music-card {
    width: 11.5rem;
    padding: 0.7rem;
    border-radius: 5px;
    transition: 0.2s;
    position: relative;
}

.music-card:hover {
    background-color: #222;
}

.music-section {
    margin: 2rem 0 2rem 2rem;
}

.songs {
    margin: 2rem 0;
    display: flex;
    overflow-x: auto;
}

.img-title {
    margin: 0.7rem 0;

}

.img-description {
    font-size: 0.8rem;
    color: rgb(199, 199, 199);
}

.music-play-btn {

    color: rgb(32, 234, 32);
    font-size: 2.7rem;
    /* koi bhi extra space nahi lega */
    /* ye body ke resepct mai fixed hai hmee card  ko position relative dena hoga jisse ye card ke roop mai fixed hoga*/
    position: absolute;
    background-color: rgb(0, 0, 0);
    width: 2.7rem;
    display: flex;
    border-radius: 20rem;
    transition: 0.3s ease-in;
    transform: translate(115px, -40px);
    opacity: 0;


}

.music-card:hover .music-play-btn {

    opacity: 1;
    transform: translate(115px, -50px);



}

/* scroll bar ke liye hai usko choa and dark kar diya */
.music-section {
  scrollbar-width: thin;
  scrollbar-color: #444 #111;
}
.music-section {
  scrollbar-width: thin;
  scrollbar-color: #444 #111;
}

/* Player */

.player-bar{
    width: 100%;
    height: 5rem;
    margin-top:0.5rem ;
    display: flex;
    align-items: center;
    justify-content: space-between;
    /* background-color: yellow; */
}
.music-controller{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 50%;
}
.player{
    display: flex;
    align-items: center;
   
}
.player-btns{
    font-size: 1.1rem;
    margin: 0.4rem 1rem;
    color: rgb(190, 190, 190);
    cursor: pointer;
    transition: 0.2s;
}
.player-btns:hover{
    transform: scale(1.05);
    color:rgb(255, 255, 255) ;
    font-weight: 600;
}
#play{
    font-size: 2rem;
}

#progressBar{
    appearance: none;
    width: 600px;
    height: 3px;
    background-color: #333;
    border-radius: 5px;
    cursor: pointer;
}

/* slider ke liye */
input[type = 'range']::-webkit-slider-thumb{

    /* naya use ke liye puarna hatana hoga style jo default hota hai */
    appearance: none;
    width: 10px;
    height: 10px;
    background-color: white;
    border-radius: 10px;
    

}
.now-bar{
    color: white;
    display: flex;
    align-items: center;
    gap: 10px;
    width: 260px;         
    flex-shrink: 0;       
}
.img-title-info,
.img-des-info{
    margin-left: 0.5rem;
    max-width: 160px;     
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}
.player-bar img{
    height: 4rem;
    width: 4rem;
    border-radius: 10px;
    padding: 0.3rem;
    flex-shrink: 0;       
}

.active{
    color:rgb(0, 255, 0);
}
.active:hover{
    color: rgb(0, 255, 0);;
}